@model IEnumerable<AppUser>
@{
    ViewData["Title"] = "Users";
    
}

<h1>All Users</h1>

<div class="row flex-lg-fill">
    @foreach (AppUser user in Model)
    {
        
        <div class="col">

            <a class="btn btn-sm btn-primary justify-content-center" asp-action="ProfileView" asp-route-id="@user.Id"> @user.UserName </a>
            <p class="justify-content-center">@user.Age<p/>
            <p class="justify-content-center">@user.City<p/>

        </div>
        
    }
</div>
