@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@* <p>Use this page to detail your site's privacy policy.</p> *@

<img src="https://img.wattpad.com/cover/186476741-288-k813081.jpg" alt="Nothing" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
